
<div class="card welcome">
    <h3 class="">Welcome <%= user.name %></h3>
    <span>You are now logged in.</span>
</div>

<!-- <h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<a href="/services/upload" class="btn btn-warning">upload</a>
<a href="/services/show" class="btn btn-danger">show</a>
<a href="/services/find" class="btn btn-success">find</a> -->
