 
<h1>Uplaoded Images</h1> 
<div >    
    <% items.forEach(function(image) { %> 

        <div class="card col-md-6 m-auto" style="width:400px" style="display: inline;">
            <img class="card-img-top p-2 bg-info" src="data:image/<%=image.img.contentType%>;base64, 
            <%=image.img.data.toString('base64')%>" alt="Card image">
          </div>

    <% }) %> 
</div> 


