 
	<h1>To Upload Image on mongoDB</h1> 
	<hr> 
	<div> 
		<form action="/services/find" method="POST" enctype="multipart/form-data"> 
			<div class="row mt-5">
				<div class="col-md-6 m-auto">
				  <div class="card text-white bg-primary card-body text-center">
					<h1><i class="fab fa-3x"></i></h1>
					<p>Upload image</p>
					<input type="file" id="fileinput" name ="image" multiple="multiple" accept="image/*" />
					<h1><i class="fab fa-3x"></i></h1>
					<button type="submit" class="btn btn-dark col-md-6 m-auto">Submit</button> 
				  </div>
				</div>
				
			</div> 
		</form> 
	</div> 

	