 
	<div class="card service">
		<h3 class="">Upload Poster</h3>
	</div>

	<div class="form-container card "> 
		<form action="/services/find" method="POST" enctype="multipart/form-data"> 
			<div class="form-group">
				<input type="file" name="image" class="form-control-file" multiple="multiple" id="image" required>
			  </div>
			<button type="submit" class="form-control btn btn-primary">Submit</button>
		</form> 
	</div> 

	